DB_HOST=scheduler_db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=lecture_db
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=pass
RABBITMQ_HOST=rabbitmq
REDIS_HOST=redis
BROKER_URL_SCHEDULER=amqp://user:pass@rabbitmq:5672//
BACKEND_URL_SCHEDULER=redis://redis:6379/0